spotexport.m                 export-ignore
doc/README_helpbrowser.txt   export-ignore
doc/spothelpbrowser.m        export-ignore
doc/strcmpc.m                export-ignore
doc/makehtmlhelp.m           export-ignore
.git*                        export-ignore
TODO                         export-ignore
